{% extends 'accounts/base.html'%}
{% block body %}
<div class="container">
      <div class="row">

            <div class="col-8">
                <h2>Home</h2>
                      <form method="post">
                    {% csrf_token %}
                    <br>
                    {{ form.post }}
                    <br>

                    <button type="submit">Submit</button>
                    </form>
                 {% for post in posts%}
                    <h1>{{post.post}}</h1>
                    <p>Posted by {{post.user.get_full_name}} on {{post.date}}</p>
                 {% endfor %}
            </div>
            <div class="col-4">
                     <h2>Other User</h2>
                    {% for user in users %}
                    <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}"><h5>{{ user.username}}</h5></a>
                    {% endfor%}


            </div>
      </div>
</div>



{% endblock %}