{%extends 'accounts/base.html'%}


{% block title %}
<title>Password reset sent</title>
{% endblock %}


{% block head %}
<h1>Password reset sent</h1>
{% endblock %}


{% block body %}
    <div class="container">
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        <br>
        <br>

    </div>
{% endblock %}