{%extends 'accounts/base.html'%}


{% block title %}
<title>Enter new password</title>
{% endblock %}


{% block head %}
<h1>Enter new password</h1>
{% endblock %}


{% block body %}
    <div class="container">
            Please enter your new password twice so we can verify you typed it in correctly.
        <br>
        <br>
        <form method="post" >
                {% csrf_token %}
            {{form.as_p}}
                <button type="submit" class="btn btn-outline-primary">Change My Password</button>
        </form>
    </div>
{% endblock %}