{%extends 'accounts/base.html'%}


{% block title %}
<title>Password reset</title>
{% endblock %}


{% block head %}
<h1>Password reset</h1>
{% endblock %}


{% block body %}
    <div class="container">
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        <br>
        <br>
        <form method="post" >
                {% csrf_token %}
            {{form.as_p}}
                <button type="submit" class="btn btn-outline-primary">Password reset</button>
        </form>
    </div>
{% endblock %}